body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #191917;
  color: #b2afa9;
  margin: 0;
  padding: 0;
}

a {
  text-transform: uppercase;
  color: #b2afa9;
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
  background-color: #33302b;
}

button {
  color: #b2afa9;

  background-color: #5a5548;
  border: 1px black solid;
  font-size: 1.3rem;
}

button:hover {
  transform: scale(1.05);
}
label {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
}

#home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#favorites-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#details-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.favorites-element {
  padding: 2rem;
  font-size: large;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 15rem;
  padding: 1rem 2rem;
  border-bottom: 2px solid #5a5548;
}

#details-instructions {
  font-style: italic;
}
#details-header {
  display: flex;
  flex-direction: column;
}
#pokemons {
  display: flex;
  align-content: center;
  justify-content: center;
}
.search-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search, #type {
  margin: 0.5rem;
  width: 20rem;
  height: 42px;
  background-color: #5a5548;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

#list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pokemon {
  display: flex;
  border: 2px solid #5a5548;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #24221f;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.pokemon:hover {
  transform: scale(1.05);
  background-color: #33302b;
}

#pokemon-details {
  display: flex;
  border: 2px solid #5a5548;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10%;
  align-items: center;
  background-color: #24221f;
}

#details {
  display: flex;
  justify-content: center;
  align-items: center;
}
#details-bar {
  padding: 2rem;
  border: 2px solid #5a5548;
  border-radius: 10%;
  background-color: #24221f;
}

#detailed-info {
  display: flex;
  gap: 2rem;
}

#loading {
  display: flex;
  text-align: center;
  justify-content: center;
}

#loading-bar {
  width: 50%;
  background-color: darkblue;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
#remove-btn {
  font-size: .9rem;
  margin-left: 1rem;
};
