body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #191917;
  color: #b2afa9;
}
.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
  margin-left: 10rem;
}

#pokemons {
  display: flex;
  gap: 10rem;
}
#search {
  margin: 1rem;
  width: 20rem;
  height: 42px;
  background-color: #5a5548;
  color: white;
}

#list {
  display: grid;
  width: 70rem;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
}
.pokemon {
  display: flex;
  border: 2px solid #5a5548;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}

#details {
  display: flex;
  /* border: 2px solid #5a5548; */
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
